services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: lgia_backend
    depends_on:
      - postgis
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      - PG_HOST=postgis
      - PG_USER=postgres
      - PG_PASSWORD=1234
      - PG_NAME=postgres
      - PG_PORT=5432

  postgis:
    image: postgis/postgis
    container_name: lgia_postgis
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1234
    ports:
      - 5433:5432
    volumes:
      - ./postgis:/docker-entrypoint-initdb.d

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: lgia_frontend
    working_dir: /app
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0"
